build/
build-manual/
build-vcpkg-manual/
build-vcpkg-direct/
.vcpkg-cache/
.vcpkg-downloads/
.vcpkg-registries/
out/
*.user
*.suo
.vs/
.vscode/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
